<div class="boxed" ng-controller="boardViewCtrl">
    <div id="content-container">
        <div id="page-title" class="clearfix">
            <h1 class="page-header text-overflow pull-left">{{board.title}}</h1>
            <div class="page-buttons pull-right">
                <button class="btn btn-success btn-labeled fa fa-plus-circle hidden-xs" data-toggle="modal" data-target="#task-edit-modal">New Story</button>
                <button class="btn btn-success visible-xs"><i class="fa fa-plus-circle" data-toggle="modal" data-target="#task-edit-modal"></i></button>
            </div>
        </div>

        <div id="page-content">

            <div class="row">
                <ul class="board-columns">
                    <li class="board-column" ng-repeat="column in board.columns">
                        <div class="panel"><div class="panel-heading">
                            <h3 class="panel-title">{{column.title}}</h3>
                        </div>
                            <div class="panel-body">
                                <ul class="task-container"  ng-sortable=" {group: column.tasks, animation:150} ">
                                    <li ng-repeat="task in column.tasks" ng-drop="true" ng-drop-success="onDropComplete($data,$event, task)" class="clearfix">

                                        <div class="task-header-buttons">
                                            <div class="pull-left">#{{task.id}}</div>
                                            <a href="" ng-if="task.blocked" class="button-option" data-placement="bottom" title="Blocked Reason" data-content="{{task.blockedReason}}" data-trigger="focus" bs-popover><i class="fa fa-warning task-blocked-icon"></i></a>
                                            <div class="btn-group">
                                                <a href="" class="button-option" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-gear"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="" ng-click="openPointsEditor($parent.$index, $index, task)">Log Points</a></li>
                                                    <li><a href="">Edit Story</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="" ng-click="openDeleteEditor($parent.$index, $index, task)">Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>{{task.title}}</div>
                                        <div class="pull-right task-users">
                                            <span ng-repeat="user in task.users">
                                                <img class="img-circle img-xs" src="/assets/images/{{user.avatar}}" />
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <aside id="aside-container">
        <div id="aside">
            <div class="nano has-scrollbar" ng-controller="teamListCtrl">
                <h4 class="pad-hor text-thin">
                    <span class="pull-right"><a href="" ng-click="close()"><i class="fa fa-close"></i></a></span>
                    Team
                </h4>
                <div class="list-group bg-trans">
                    <a class="list-group-item" href="" ng-repeat="user in users"  ng-drag-success="onDragComplete($data,$event)" ng-drag="true" ng-drag-data="user" allow-transform="false">
                        <div class="media-left">
                            <img class="img-circle img-xs" alt="Profile Picture" src="/assets/images/{{user.avatar}}">
                        </div>
                        <div class="media-body">
                            <div class="text-lg">{{user.firstName}} {{user.lastName}}</div>
                            <span class="text-muted">Nitro Team</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </aside>
</div>


<div id="burndown-chart-container" style="display:none;">
    <div class="title">Burndown</div>
    <div id="burndown-chart" style="width:400px; height:200px;"></div>
</div>

<div id="task-edit-modal"
     class="bootbox modal fade in"
     aria-hidden="true"
     aria-labelledby="task-edit-modal"
     tabindex="-1"
     role="dialog"
     style="display: none;"
     ng-include="'assets/js/views/tasks/task-edit.tpl.html'">
</div>

<div id="task-log-points-modal"
     class="bootbox modal fade in"
     aria-hidden="true"
     aria-labelledby="task-edit-modal"
     tabindex="-1"
     role="dialog"
     style="display: none;"
     ng-include="'assets/js/views/tasks/task-points.tpl.html'">
</div>

<div id="task-delete-modal"
     class="bootbox modal fade in"
     aria-hidden="true"
     aria-labelledby="task-edit-modal"
     tabindex="-1"
     role="dialog"
     style="display: none;"
     ng-include="'assets/js/views/tasks/task-delete.tpl.html'">
</div>
