<div class="row" ng-controller="serviceListCtrl">
    <div class="col-lg-12">
        <div class="tab-base tab-stacked-left">
            <ul class="nav nav-lg nav-tabs">
                <li ng-class="{active: filter.id == 'newServiceRequestSearcherTablet'}" ng-if="hasRole('STORE_APPROVER')">
                    <a href="" ng-click="applyFilter('newServiceRequestSearcherTablet')">
                        <span class="hidden-xs">New</span><span class="badge badge-danger pull-right hidden-xs">{{(counters | filter: {name: 'new'})[0].count}}</span>
                        <i class="fa fa-user-plus visible-xs"></i>
                    </a>
                </li>
                <li ng-class="{active: filter.id == 'signedInServiceRequestSearcherTablet'}">
                    <a href="" ng-click="applyFilter('signedInServiceRequestSearcherTablet')">   
                        <span class="hidden-xs">Sign In</span><span class="badge badge-primary pull-right hidden-xs">{{(counters | filter: {name: 'signedIn'})[0].count}}</span>
                        <i class="fa fa-sign-in visible-xs"></i>
                    </a>
                </li>
                <li ng-class="{active: filter.id == 'inProgressServiceRequestSearcherTablet'}" class="clearfix">
                    <a href="" ng-click="applyFilter('inProgressServiceRequestSearcherTablet')">
                        <span class="hidden-xs">In Progress</span><span class="badge badge-primary pull-right hidden-xs">{{(counters | filter: {name: 'inProgress'})[0].count}}</span>
                        <i class="fa fa-cogs visible-xs"></i>
                    </a>
                </li>
                <li ng-class="{active: filter.id == 'onHoldServiceRequestSearcherTablet'}">
                    <a href="" ng-click="applyFilter('onHoldServiceRequestSearcherTablet')">
                        <span class="hidden-xs">On Hold</span><span class="badge pull-right hidden-xs">{{(counters | filter: {name: 'onHold'})[0].count}}</span>
                        <i class="fa fa-pause visible-xs"></i>
                    </a>
                </li>
                <li ng-class="{active: filter.id == 'unansweredServiceRequestSearcherTablet'}" ng-if="hasRole('STORE_APPROVER')">
                    <a href="" ng-click="applyFilter('unansweredServiceRequestSearcherTablet')">
                        <span class="hidden-xs">Unanswered</span><span class="badge pull-right hidden-xs">{{(counters | filter: {name: 'unanswered'})[0].count}}</span>
                        <i class="fa fa-question-circle visible-xs"></i>
                    </a>
                </li>
                <li ng-class="{active: filter.id == 'pendingServiceRequestSearcherTablet'}" ng-if="hasRole('STORE_APPROVER')">
                    <a href="" ng-click="applyFilter('pendingServiceRequestSearcherTablet')">
                        <span class="hidden-xs">Pending Update</span><span class="badge badge-primary pull-right hidden-xs">{{(counters | filter: {name: 'pending'})[0].count}}</span>
                        <i class="fa fa-clock-o visible-xs"></i>
                    </a>
                </li>
                <li ng-class="{active: filter.id == 'awaitingCostApprovalServiceRequestSearcherTablet'}" ng-if="hasRole('STORE_APPROVER')">
                    <a href="" ng-click="applyFilter('awaitingCostApprovalServiceRequestSearcherTablet')">
                       <span class="hidden-xs">Cost Approval</span><span class="badge pull-right hidden-xs">{{(counters | filter: {name: 'awaitingCostApproval'})[0].count}}</span>
                       <i class="fa fa-check-square-o visible-xs"></i>
                    </a>
                </li>
                <li ng-class="{active: filter.id == 'resolvedServiceRequestSearcherTablet'}" ng-if="hasRole('STORE_APPROVER')">
                    <a href="" ng-click="applyFilter('resolvedServiceRequestSearcherTablet')">
                        <span class="hidden-xs">Resolved</span><span class="badge badge-primary pull-right hidden-xs">{{(counters | filter: {name: 'resolved'})[0].count}}</span>
                        <i class="fa fa-thumbs-o-up visible-xs"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <table class="table table-hover table-vcenter">
                    <tbody>
                        <tr ng-repeat="serviceRequest in serviceRequests">
                            <td>{{serviceRequest.ticketNumber}}</td>
                            <td class="hidden-xs">{{serviceRequest.machine.name}}</td>
                            <td class="hidden-xs">{{serviceRequest.created  | date: 'dd/MM/yyyy'}}</td>
                            <td class="text-right"><span class="label label-status-{{serviceRequest.status.name}}">{{serviceRequest.status.description}}</span></td>
                        </tr>
                    </tbody>
                </table>

                <pagination ng-if="pageInfo.totalPages>1" total-items="{{pageInfo.totalPages}}" current-page="{{filter.page}}" page-size="{{pageInfo.size}}" page-changed="paginate"></pagination>
                
            </div>
        </div>
    </div>